<div id="connectDiv" >
    <form action="/connectcoll.html" >
        <span style="float:left;" >Database Name: </span>
        <input id="dbname" name="dbname" type="input" style="float:left;" value="jobaly_daily_test" />     
        <span style="float:left;"  >Collection Name: </span>
        <input id="collname" name="collname" type="input" style="float:left;"  value="daily_job_2014-06-05" />                
        <input id="connectdb_btn"   type="submit" value="Connect DB" />
    </form>
    <div  > 
        <span>Connected to db: <b>{{ dbinfo.dbname }} </b> Collection:  <b>{{ dbinfo.collname }}   </b>  </span>
    </div>
</div>     
