	
	<div id="top">
		<div id="topLogo">
			<div id="logo_text">Jobaly</div>
		</div>
	</div>
	<div id="topnav">
		<div id="topnavTut" class="notranslate">
			<a class="topnav" target="_top" href="/index.html">HOME </a>
			<a class="topnav" target="_top" href="/set_resume.html">RESUME </a>		
            <a class="topnav" target="_top" href="/resume_keyword.html">RESUME+Keyword</a>  	
			<div style="float:right;word-spacing:0;">				
				<a class="topnav" target="_top" href="/about/default.asp"> ABOUT</a>
			</div>
		</div>
	</div>
  
