{% extends "simple_layout.html" %}

{% block mainpart %}

    
       <div id="jobdetail" class="whitepaper" style="width:820px" >
            <div   >
                <div id="detail_jobtitle" > {{job.jobtitle}} </div>
                <div> 
                    <span> {{job.location}}   </span> 
                    <span>  {{job.company}}   </span> 
                </div>
                <div> 
                  {% autoescape false %}
                      {{job.summary}}
                  {% endautoescape %}
                </div>
            </div>     
       </div> 
     
       <div id="tagslist" >
           <div>
               <span> fdf dfdsa </span> 
           </div>
       </div>
    

{% endblock %}
