{% extends "simple_layout.html" %}

{% block headerpart %}
   {% include "header.html" %}    
{% endblock %}	

{% block mainpart %}
   
   
   <div style="width:820px" class="whitepaper" >
      
      <form action="/searchjobs.html" method="get" >
         <input  name="query" type="input" style="margin-left:20px;float:left;width:200px"   />                      
         <input  name="qtype" type="hidden"  value="resume_keyword"  />  
         <input  style="margin-left:10px;" type="submit" value="Search Jobs" />
      </form>
       
    </div>
    <div style="width:820px" class="whitepaper" >
        
        <div> 
             <span style="font-size: 22px" >Resume File Name: {{filename}}</span>
                     
        </div>
        <div style="height:20px; width:40px;fontweight:bold;"></div>
         
           {% autoescape false %}
             {{resume}}
           {% endautoescape %}
       
    </div>
{% endblock %}
