<div id="top"  >
    <div id="topLogo"  style="float:left;" >
        <div id="logo_text">Jobaly</div>
    </div>
    <div id="topright"  style="float:right;padding-top:5px;padding-right:30px" >
        {% block topright_part %}
            
        {% endblock %}	     
    </div>
</div>

<div id="topnav">
    <div id="topnavTut" class="notranslate">
        <a class="topnav" target="_top" href="/index.html">HOME </a>
        <a class="topnav" target="_top" href="/html/default.asp">HTML </a>
        <a class="topnav" target="_top" href="/css/default.asp">CSS </a>
        <a class="topnav" target="_top" href="/js/default.asp">JAVASCRIPT </a>
        <a class="topnav" target="_top" href="/sql/default.asp">SQL </a>			
        <a class="topnav" target="_top" href="/sitemap/default.asp">MORE...</a>
        <div style="float:right;word-spacing:0;">
           
                <a class="topnav" target="_top" href="/sitemap/sitemap_references.asp">REFERENCES</a>
                <span style="letter-spacing:14px;"> |</span>
                <a class="topnav" target="_top" href="/sitemap/sitemap_examples.asp"> EXAMPLES</a>
                <span style="letter-spacing:14px;"> |</span>
                <a class="topnav" target="_blank" href="/forum/default.asp"> FORUM</a>
                <span style="letter-spacing:14px;"> |</span>
                <a class="topnav" target="_top" href="/about/default.asp"> ABOUT</a>
             
        </div>
    </div>
</div>
