html {overflow-y:scroll;}

body {
font-size:13px; 
color:#404040;
background-color:#f1f1f1;
margin:0px;
}

p,td,ul {line-height:130%;}

iframe 	{margin:0px;}
img		{border:0;}

#topnavSpace {margin-left:290px;}

#belowTopnav {width:1220px;margin:auto;}

#page {width:1024px;float:left; }

#top {width:1220px; margin:auto;height:60px;}

#connectdiv {
float:right;
}

#main {width:820px;float:left;padding:7px;padding-top:0px;overflow:hidden;}

#main {
margin-left:10px;
margin-top:10px;
padding-top:10px;
padding-bottom:20px;
padding-left:40px;
padding-right:20px;
box-shadow: 0px 0px 20px 3px #d3d3d3; 
border-radius:4px;
background-color:#ffffff; 
}

#resume_content { overflow:hidden;margin-right:10px;margin-left:10px; }

#pager {margin-left: 50px; margin-top:5px;}

#joblist  { padding:7px;padding-top:0px; }

#resume_left  {width:500px;float:left;margin-right:4px;margin-left:10px; }

#resume_pop {
display: none;
position: absolute;
top: 120px;
left: 120px;
width: 80%;

padding: 2px;
border: 2px solid black;
background-color: white;
z-index:1002;
overflow: auto;
}


