html {overflow-y:scroll;}

body {
font-size:13px; 
color:#404040;
background-color:#f1f1f1;
margin:0px;
}

p,td,ul {line-height:130%;}

iframe 	{margin:0px;}
img		{border:0;}

#topnavSpace {margin-left:290px;}

#belowTopnav {width:1220px;margin:auto;}

#page {float:left; }

#top {width:1220px; margin:auto;height:60px;}

#connectdiv {
float:right;
}

#main {float:left;padding:7px;padding-top:0px; }

#resume_content { overflow:hidden;margin-right:10px;margin-left:10px; }

#pager {margin-left: 50px; margin-top:5px;}

#joblist  { padding:7px;padding-top:0px; }

#jobdetail {
float:left;
}

#tagslist {
float:left;
width: 150px;
padding-top:20px; 
margin-left:10px;
background-color:#f1f1f1;
}

#resume_left  {width:500px;float:left;margin-right:4px;margin-left:10px; }

#resume_pop {
display: none;
position: absolute;
top: 120px;
left: 120px;
width: 80%;

padding: 2px;
border: 2px solid black;
background-color: white;
z-index:1002;
overflow: auto;
}


