html {overflow-y:scroll;}

body {font-size:13px;color:#000000;color:#404040;
background-color:#f1f1f1;margin:0px;}

p,td,ul {
	line-height:130%;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input {
	font-family:verdana,helvetica,arial,sans-serif;
}

iframe 	{margin:0px;}
img		{border:0;}

table,th,td,input,textarea {
	font-size:100%;
}

h1 {font-size:28px;margin-top:0px;font-weight:normal}
h2 {font-size:22px;margin-top:10px;margin-bottom:10px;font-weight:normal}
h3 {font-size:17px;font-weight:normal}
h4 {font-size:12px;}
h5 {font-size:11px;}
h6 {font-size:10px;}

h1,h2,h3,h4,h5,h6 {
	background-color:transparent;color:#000000;
}

#top {width:1220px;margin:auto;height:60px;}

#logo_text {
font-size: 42px;
text-align: left;
//background-color: #D9D9D9;
padding-left:20px;
height: 32px;
color:DimGray ;
text-shadow: 2px 2px #cccccc;
font-style:oblique;
font-family:"Times New Roman", Monospace;
font-weight:bold;
}

#topnav {height:25px;background-color:#d3d3d3;}

#topnavTut {height:20px;width:1190px;margin:auto;word-spacing:12px;font-size:12px;padding-left:10px;padding-right:20px;padding-top:5px;background-color:#d3d3d3;}

a.topnav:link,a.topnav:visited {color:#555555;text-decoration:none;}
a.topnav:hover,a.topnav:active {color:#ff4800;text-decoration:none;}

#topnavSpace {margin-left:290px;}

#belowTopnav {width:1220px;margin:auto;}

#page {width:1024px;float:left;margin-left:10px;margin-top:10px;padding-top:10px;padding-bottom:20px;box-shadow: 0px 0px 20px 3px #d3d3d3;border-radius:4px;background-color:#ffffff;}

div.topLeftRectangle {float:left;width:170px;height:90px;margin-top:10px;margin-right:4px;margin-left:10px;overflow:hidden;}

#mainLeaderboard {width:728px;height:90px;float:none;margin-top:0px;margin-left:0px;overflow:hidden;margin-bottom:15px;}

#pageads {height:100px;margin-bottom:10px;}

#leftcolumn {width:200px;float:left;margin-right:4px;margin-left:10px; }

#leftcolumn h2 {font-size:16px;font-weight:normal;color:#8AC007;}

#leftcolumn hr {color:#e5eecc;background-color:#e5eecc;margin-right:20px;}

#leftcolumn a:link,#leftcolumn a:visited,#leftcolumn a:hover,#leftcolumn a:active {
	display:block;font-size:13px;padding-bottom:4px;background-color:#ffffff;color:#555555;color:#404040;text-decoration:none;
}
#leftcolumn a:hover,#leftcolumn a:active {
	background-color:#ffffff;color:#000000;text-decoration:underline;
}

#main {width:700px;float:left;padding:7px;padding-top:0px;overflow:hidden;}

#rightcolumn h2{font-size:13px;font-weight:normal;color:#8AC007;margin-top:3px;margin-bottom:2px;}

#rightcolumn {width:160px;float:left;font-size:11px;padding-left:5px;margin-left:5px;background-color:#d3d3d3;}


#rightcolumn .rightad a:link,#rightcolumn .rightad a:visited,#rightcolumn .rightad a:hover,#rightcolumn .rightad a:active{
	text-decoration:none;display:block;color:#555555;margin-bottom:3px;padding-top:3px;
}

#rightcolumn .rightad a:hover,#rightcolumn .rightad a:active{
	text-decoration:underline;
}

#rightcolumn .rightad, #rightshare{
	width:150px;border:1px solid #d4d4d4;border-radius:4px;margin-bottom:8px;padding:5px;padding-bottom:10px;text-align:center;background-color:#ffffff;
}


a.tryitbtn,a.tryitbtn:link,a.tryitbtn:visited,a.showbtn,a.showbtn:link,a.showbtn:visited
{
display:inline-block;
color:#FFFFFF;
background-color:#8AC007;
font-weight:bold;
font-size:12px;
text-align:center;
padding-left:10px;
padding-right:10px;
padding-top:3px;
padding-bottom:4px;
text-decoration:none;
margin-left:0;
/*margin-left:5px;*/
margin-top:0px;
margin-bottom:5px;
border:1px solid #aaaaaa;
border:1px solid #8AC007;
border-radius:5px;
white-space:nowrap;
}

a.tryitbtn:hover,a.tryitbtn:active,a.showbtn:hover,a.showbtn:active{
background-color:#ffffff;color:#8AC007;
}

#main-bar {
height:60px;
//background-color:#ffccff
}

#addbtn {
float:right;
margin-top:15px;
}

.code_input, .result_output
{
border:1px solid #c3c3c3;
width:100%;
height:400px;
background-color:#ffffff;
color:#000000;
}

#resume_content {
float:left;
font-size: 14px;
background-color:#ffffff;
}

#resume_content {width:400px;float:left;margin-right:4px;margin-left:10px; }

#joblist  { overflow:hidden; padding:7px;padding-top:0px;overflow:hidden;}

.jobitem_0 { margin: 10px; padding:7px; background-color:#dddddd;}
.jobitem_1 { margin: 10px; padding:7px; background-color:#cccccc;}


input[type=text]
{
    background-color: #BFBDBD;
    border:solid 1px #BFBDBD;
    color: #979797;
    height: 28px;
    padding-left:10px;
    width: 191px;
    box-shadow: 2px 2px 0 #828181 inset;
}
input[type=button], input[type=submit]
{
display:inline-block;
color:#FFFFFF;
background-color:#8AC007;
font-weight:bold;
font-size:12px;
text-align:center;
padding-left:10px;
padding-right:10px;
padding-top:3px;
padding-bottom:4px;
text-decoration:none;
margin-left:0;
/*margin-left:5px;*/
margin-top:0px;
margin-bottom:5px;
border:1px solid #aaaaaa;
border:1px solid #8AC007;
border-radius:5px;
white-space:nowrap;
}

input[type=button], input[type=submit], input[type=text]
{
    border: 0;
    border-radius:5px;
    font-family: Sansation,Arial;
}

#addresume_btn {
float:right;
margin-top:15px;
}
